@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="usermanagement">
    <table class="Tableusermanagement" style="width:100%">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Position</th>
                <th>Date Joined</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>
                </td>

                <td>
                </td>
                <td>
                </td>

                <td>
                </td>
                <td>
                </td>

            </tr>


        </tbody>
    </table>
</div>
